<!doctype html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>stumind</title>
		<link href="css/bootstrap.min.css" rel="stylesheet" />
		<link href="css/tabulator.min.css" rel="stylesheet" />
		<link href="css/index.css" rel="stylesheet" />
		<script src="js/vue.js"></script>
		<script src="js/popper.min.js" defer></script>
		<script src="js/bootstrap.bundle.min.js" defer></script>
		<script src="js/tabulator.min.js" defer></script>
		<script src="js/echarts.js"></script>
		<script src="js/classes.js"></script>
	</head>
	<body>
		<div id="app">
			<div id="bodyline">
				<div id="pusher" :style="styleComputer(pages.pusher)" class="page">
					<div id="check" class="block">
						<div id="check-board">
							<div v-for="(value, key) in check" class="check-board-box" :style="'background-color:' + (value ? (value === true ? 'var(--bg2)' : 'rgba(0,0,0,0)') : 'var(--bg2);opacity: 0.3')" @click="showCheck(key, value)"></div>
						</div>
						<button id="check-check" class="fully" @touchstart="checkin" @touchend="stop('check')" :style="'box-shadow:0 0 ' + (5 + (time.check || 0)) + 'px var(--bg1);filter:brightness(' + (1 + (time.check || 0) / 10) + ') blur(' + (time.check || 0) / 6 + 'px) grayscale(' + (user.checked.includes(today) ? 1 : 0) + ')'" :disabled="user.checked.includes(today)">签到</button>
					</div>
					<div id="mark" class="block">
						<div id="mark-msg">
							已记录
							<i><b>{{marks.length}}</b></i>
							条成绩
						</div>
						<button @click="createMark" id="mark-pusher" class="fully">添加成绩</button>
					</div>
					<div id="exam" class="block">
						<div id="exam-msg">
							已记录
							<i><b>{{exams.length}}</b></i>
							场考试
						</div>
						<button @click="createExam" id="exam-pusher" class="fully">新建考试</button>
					</div>
					<div id="subject" class="block">
						<div id="subject-subject" class="article" v-for="(value, key) in subjects">
							<b>&nbsp;{{value.name}}</b>
							<i class="subject-msg">&nbsp;&nbsp;&nbsp;&nbsp;{{value.marks.length}}条</i>
							<button class="subject-more" @click="configSubject(key, value)">&nbsp;≡</button>
							<label class="switch">
								<input type="checkbox" v-model="value.enable" />
								<span class="slider"></span>
							</label>
						</div>
						<div class="article">
							<b id="subject-add" @click="createSubject">+</b>
						</div>
					</div>
				</div>
				<div id="datas" :style="styleComputer(pages.datas)" class="page">
					<div id="topline">
						<div class="dropdown">
							<button class="btn btn-secondary dropdown-toggle chooser" type="button" data-bs-toggle="dropdown" aria-expanded="false" id="grade-chooser">{{window.GET_GRADE_NAME(user.grade)}}年级</button>
							<ul class="dropdown-menu">
								<li class="dropdown-item" v-for="(item, index) in window.grades" @click="(user.grade = index)">{{item}}</li>
							</ul>
						</div>
						<div class="dropdown">
							<button class="btn btn-secondary dropdown-toggle chooser" type="button" data-bs-toggle="dropdown" aria-expanded="false" id="type-chooser" v-show="exams.length > 0">{{current.type}}</button>
							<ul class="dropdown-menu">
								<li class="dropdown-item" v-for="(item, index) in types" @click="(current.type = item)">{{item}}</li>
							</ul>
						</div>
						<div class="dropdown" v-if="current.type == '学科'">
							<button class="btn btn-secondary dropdown-toggle chooser" type="button" data-bs-toggle="dropdown" aria-expanded="false" id="subject-chooser">{{subjects[current.subject].name}}</button>
							<ul class="dropdown-menu">
								<li class="dropdown-item" v-for="(item, index) in subjects" @click="(current.subject = index)" v-if="item.enable">{{item.name}}</li>
							</ul>
						</div>
						<div class="dropdown" v-if="current.type == '考试'">
							<button class="btn btn-secondary dropdown-toggle chooser" type="button" data-bs-toggle="dropdown" aria-expanded="false" id="exam-chooser">{{exams[current.exam].info}}</button>
							<ul class="dropdown-menu">
								<li class="dropdown-item" v-for="(item, index) in exams" @click="(current.exam = index)">{{item.info}}</li>
							</ul>
						</div>
					</div>
					<div id="data-bar" class="chart"></div>
				</div>
				<div id="me" :style="styleComputer(pages.me)" class="page">
					<div class="article" id="me-me">
						<img id="me-img" :src="user.img" />
						<input id="me-name" v-model="user.name" :disabled="true" />
					</div>
					<div class="article" id="me-theme">
						<b>主题</b>
						<button @click="nextTheme(user.theme)">{{window.themes[user.theme].name}}</button>
					</div>
					<div class="article" id="me-data">
						<b>数据</b>
						<button @click="clearData">清空</button>
					</div>
					<div class="article" id="me-grade">
						<b>年级</b>
						<button @click="changeGrade">{{window.GET_GRADE_NAME(user.grade)}}</button>
					</div>
				</div>
			</div>
			<div id="bottomline">
				<button v-for="(value, key) in pages" :style="'width:' + 100 / Object.keys(pages).length + 'vw;' + (value && 'background-color:var(--bg2)')" :disabled="value" @click="changePage(key)">{{window.icons[key]}}</button>
			</div>
			<div id="conf"></div>
		</div>
		<script src="js/index.js"></script>
	</body>
</html>
